<!DOCTYPE html>
<html>
<h1 style="text-align: center">
  Contact Information
</h1>

<p style="text-align: center">
  If you experience any bugs or errors please do not hesitate to contact the administrator.
</p>

<h2 style="text-align: center">Administrators</h2>
<p style="text-align: center">
  James Bovenkerk:
<br>
  Email: someone@gmail.com,   Phone Number: 123456789
</p>

<br>
<br>
<br>

<h2 style="text-align: center">We made this website.</h2>
<p style="text-align: center">
Akin Adegboye:
<br>
Email: someone2@gmail.com
<br>
<br>
Zihan Wei:
<br>
Email: someone3@gmail.com
<br>
<br>
John Hamilton:
<br>
Email: someone4@gmail.com
<br>
<br>
Vince Hamill:
<br>
Email: someone5@gmail.com
<br>
<br>
Robert Paraliticci:
<br>
Email: someone6@gmail.com
</p>



</html>