<section>
  <h1>
    Welcome!
  </h1>
  <p style="text-align: center">
    This is the Savage Six networking site!
    <br>
    Please login or create an account to view the directory of current and former cadets.
  </p>

  <br>
  <br>
  <br>
  <br>

  <h1>
    About Savage Six
  </h1>
  <br>
  <p style="text-align: center">
    This website is a platform made to allow current and former cadets of the outfit Savage Six of the Texas A&M Core of Cadets
    to look up other members so that they may communicate with each other. If a cadet needs career advice, wants to talk, or anything
    else he can find his fellow cadets on this site. With that said, Gig Em and enjoy our site!
  </p>
</section>