
<body>
<section>
  <h1>
    Welcome!
  </h1>
  <p style="text-align: center">
    This is the Savage Six networking site!
    <br>
    Please login or create an account to view the directory of current and former cadets.
  </p>

  <br>
  <br>
  <%=image_tag("boots_alt-1024x302.jpg", :class =>'bg') %>
  <br>
  <br>

  <h1>
    About Savage Six
  </h1>
  <br>
  <p style="text-align: center; font-size: 15px ">
    Squadron 6 is dedicated to the development of well-rounded leaders equipped with the necessary skills to excel in the military and private sector.
    We take pride in our exceptional commitment to academics, physical development, and public service.
    On top of being involved in the outfit, networking off the quad is highly encouraged to allow cadets to have the full university experience.
    Our outfit is known for its ability to gather men and women from diverse backgrounds under a common vision. Our notable alumni include Chancellor John Sharp and former Governor Rick Perry.
    Squadron 6 is unique as it traces its origins back to the Flying Tiger Unit that fought in China during World War II. From then till now, we are known for our camaraderie, courage, and selfless service.
    Savages are held to a higher standard with the intent of chasing the legacy left by those before us, and leaving legacy worthy for the generations that follow.
  </p>
</section>
</body>