<section>
  <h1>
    Welcome!
  </h1>
  <p style="text-align: center">
    This is the Savage Six networking site!
    <br>
    Please login or create an account to view the directory of current and former cadets.
  </p>

  <br>
  <br>
  <br>
  <br>

  <h1>
    About Savage Six
  </h1>
  <br>
  <p style="text-align: center">
    Blurb fjjfdkslj j fkdsj kflds jklj fkdlsajkdl jk lajfkldsjfkldsj kd sjkl dsjkl jfk jfklsdj fkdls jklds jfdkl
  </p>
</section>