<section>
  <div class="title">
    Welcome!
  </div>
  <br>
  This is the Savage Six networking site! Please login or create an account to view the directory and profiles.

  <br>
  <br>
  <br>
  <br>

  <div class="title">
    About Savage Six
  </div>
  <br>
  Blurb fjjfdkslj j fkdsj kflds jklj fkdlsajkdl jk lajfkldsjfkldsj kd sjkl dsjkl jfk jfklsdj fkdls jklds jfdkl
</section>