@import 'bootstrap';
html{
  color:black;
  font-size: 15px;
  /*etc*/
}

h1{
  text-align: center;
}
input[type], select, textarea{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=submit] {
  width: 15em;  height: 3em;
}

.submit_button{
  text-align: center;
  padding-top: 20px;
  padding-bottom:40px;
}

td{
  padding: 10px;
}
label.required:after {
  content: " *";
  color: red;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
h2{
  text-align: left;
  padding-top: 20px;
  line-height: 1;
}

strong{
  padding-right: 10px;
}  


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}